{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ADD BOOK</title>
	<link rel="stylesheet" type="text/css" href="{% static 'addbookn.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
</head>
<body>
<div class="form-wrapper">
	 <a href="/books" >
          <span class="glyphicon glyphicon-remove" style="font-size: 16px; margin-left: 447.7px; margin-top: 16.3px; color: #9395a0 ;"></span>
     </a>
     <p style="margin-left: 30px;">ADD BOOK</p>
     <form class="form" action="/books/add" method="POST">
     	{% csrf_token %}
     	<input type="text" name="bname" placeholder="Book Name" required><br>
     	<select name="author" class="fa" required>
    		{% for i in details %}
			<option value="author">{{ i.author_name }}</option>
			{%endfor %}
   		</select>
     	<input type="number" name="num" placeholder="ISBN Number" style="width: 239px;" required>
		<textarea name="abt" placeholder="Description of content" class="text" required></textarea><br>
		<input type="button" name="cancel" value="Cancel" onclick="window.location.href='/books'">
		<input type="submit" name="submit" value="Save Book">
	</form>
</div>

</body>
</html>