<!DOCTYPE html>
<html>
<head>
	<title>AUTHOR DETAILS</title>
	<link rel="stylesheet" type="text/css" href="authordet.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div class="main">
		<div class="sub">
			<p class="lib">Library.</p>
			
				<li><a href="#book" style="margin-right: 174px;margin-top: 15px;">Books</a>
				<li><a href="#author" style="margin-right: 64px;margin-top: 15px;" >Authors</a>
		</div>
		
		<div class="container">
  			<p class="fa" ><a class="active" href="#">Authors</a> &#8260; <a href="#">Details</a></p>
		</div>
				
		<div class="tab">	
			<div class="but">
				<button class="btn" style="margin-right: 30px;">></button>
				<button class="btn" ><</button><br>
				<p class="para">Navigate to Previous / Next Book</p>
			</div>	
			<div class="flex-container">
				<div ><img style="float: left; margin-right: 20px; margin-top: 10px;" src="author_icon.png" width="40" height="35" /></div>
				<p class="name"><strong>Author name</strong><br>Age/Gender<br>About author will come here..</p>
				<div class="born" style="float: right;"><p>Born Place</p></div>
				<!-- <div class="age" style="margin-left: 80px; "><p >Age/Gender</p></div><br> -->
				<p style="margin-left: 80px; width:200px;height: 20px; margin-top: -200px;">BOOKS WRITTEN x</p>
				<div class="flex-contain" style="margin-left: 40px;margin-top: -350px;">
					<div class="img" style="height:80px;"><img style="float: left; margin-right: 20px; margin-top: 10px;" src="book_icon.png" width="40" height="35" /></div>
					<p class="name"><strong>Book name</strong><br>by <!-- <h5 style="width: 200px; height:14px; float:left;"> -->Author<!-- </h5> --></p>
					<div class="born" style="float: right;"><p>ISBN-xxx</p></div>
					<div class="info" style="margin-left: 80px; margin-top: -40px;"><p>&nbsp;&nbsp;Book Info</p> </div>
				</div>
			

			</div>
			
		</div>
	</div>
</body>
</html>