{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BOOKS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'books.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="main">
		<div class="sub">
			<p class="lib">Library.</p>
			
				<li><a href="/books" class="active" style="margin-right: 174px;margin-top: 15px;">Books</a>
				<li><a href="/author" style="margin-right: 64px;margin-top: 15px;" >Authors</a>
		</div>
		
				<li class="fa" >Books</li>
				<li class="fan">{{ books|length }} Books</li>
		<div class="tab">	
			<div class="but">
				<a class="btn " style="background-color: #6379f6;" href="/books/add">Add Books</a>
			</div>
			{% for book in books %}
			<div class="flex-container">
				<div class="img" style="height:80px;"><img style="float: left; margin-right: 20px; margin-top: 10px;" src="{% static 'book_icon.png' %}" width="40" height="35" /></div>
				<p class="name"><strong>{{ book.book_name }}</strong><br>by<strong>{{ book.author }}</strong></p>
				<div class="born" style="float: right;"><p>ISBN-{{ book.isbn }}</p></div>
	
				<div class="info"><p>&nbsp;&nbsp;{{ book.desc }}</p> </div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</body>
</html>